<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles.css">
    <title>Create</title>
</head>
<body>
<h1>Code Sharing Platform</h1>
<form>
    <textarea id="code_snippet" rows="5" cols="40"> //write your code here </textarea><br>
    <label for="time_restriction">Time restriction in s</label>
    <textarea id="time_restriction" rows="1" cols="20"></textarea><br>
    <label for="views_restriction">View restriction</label>
    <textarea id="views_restriction" rows="1" cols="20"></textarea><br>
    <button id="send_snippet" type="submit" onclick="send()">Submit</button>
</form>
<script>
    function send() {
        let object = {
            "code": document.getElementById("code_snippet").value,
            "views": document.getElementById("views_restriction").value,
            "time" : document.getElementById("time_restriction").value
        };

        let json = JSON.stringify(object);

        let xhr = new XMLHttpRequest();
        xhr.open("POST", '/api/code/new', false)
        xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
        xhr.send(json);

        if (xhr.status == 200) {
            alert("Success!");
        }
    }
</script>
</body>
</html>